
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/header.css" />

<div class="menu-list">
    
    <div class="menu-list">
        <header tabindex="0">Tanga Frouxa</header>
        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <nav id="nav-content" class="sidebar-nav" tabindex="0">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-home"></i><span>Home</span></a>
                    </li>
                    <li>
                        <a><i class="fa fa-gift fa-lg"></i><span>Cadastros</span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="@Url.Action("Index","Usuario", new { area = "Cadastros" })">Usuarios</a>
                            </li>
                            <li>
                                <a href="#">Tipo Lancamento</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-globe fa-lg"></i> <span class="">Lançamentos </span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="#">Entrada</a>
                            </li>
                            <li>
                                <a href="#">Saida</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>