<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand">Tanga Frouxa</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <ul>
        <li>

        </li>
    </ul>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fas fa-igloo"></i> Home
                </a>
            </li>

            <li data-toggle="collapse" data-target="#GeneralCad" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Cadastros <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="GeneralCad">
                <li><a href="@Url.Action("Index","Usuario", new { area = "Cadastros" })">Usuario</a></li>
                <li><a href="#">Tipo Lancamento</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Lançamentos <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li><a href="#">Entrada</a></li>
                <li><a href="#">Saída</a></li>
            </ul>
        </ul>
    </div>
</div>