@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #263238;
    position: relative;
    height: 100%;
}

main {
    height: 100%;
/*    background-color: #252c34;*/
}

/*===============section que contem o formulario=======================*/

form > .panel-default {
    margin: 0;
    width: 50%;
    height: auto;
    margin: auto;
    background-color: #252c34!important;
    box-shadow: 10px 10px 2px 1px rgba(0,0,0,.5);
    font-size: 1.3em;
    border: none;
}

.panel-default > .panel-heading {
    background-color: #252c34 !important;
    color: #fff !important;
    height: 7em;
    display: flex;
    align-items: center;
    border: none !important;
}
.panel-heading > div {
    width: auto;
    margin:auto;
}
.panel-heading > div > b {
    font-size: 3em;
}
.panel-body {
    color: red;
}

/*/*---------div com input e label----------*/
.divInput input {
    height: 2.5em;
    padding-left: 2.8em;
    font-size: 12pt;
}

.divInput span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 3.4em;
    line-height: 3em;
    text-align: center;
    pointer-events: none;
    z-index: 3;
    border: none;
    background: transparent;
    color: #252c34;
}

.form-row.cadInput {
    height: 5em;
}

/*input botao enviar*/
.form-row.cadInput.btnEnviar {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    align-items: center;
}
    .form-row.cadInput.btnEnviar > button {
        height: 6vh;
        width: 12vh;
        outline: none;
    }


/*------Dando estilo ao input e label------------*/
label {
    font-family: unset;
    /*color: #252c34;*/
    color: #fff;
    margin-bottom: 6px !important;
    font-size: 12pt;
}

input {
    width: 100%;
    padding: 1em;
    margin: 0 !important;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all 0.35s ease-in-out;
}

    input:focus {
        outline: 0;
        border-color: cadetblue;
    }

        input:focus + span {
            color: darkturquoise;
        }

        .labelFocus {
            color: darkturquoise;
        }

/*Colocando um botao(x) dentro do input que limpa qualque valor dentro*/
input[type=search] {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

    input[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button !important;
        cursor: pointer !important;
    }

i.fa-question-circle.fa {
    font-size: 13px;
    color: aliceblue;
}

/*==========================================*/
#locBtn {
    width: auto;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
#btnLocalizar > .btn {
    height: 3em;
    line-height:2.2em;
}
div#btnLocalizar {
    width: auto;
    margin-top: 5px;
}
div#btnLocalizar > div {

}

@media only screen and (max-width: 600px) {
    main {
        padding-left: 15px!important;
    }
    form > .panel-default {
        width: 100%;
    }
    .cadInput {
        width: 100%;
    }
}